.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.Content {
  margin-top: 100px;
  width: 90%;
  height: 90%;
}

.NavBar {
  display: flex;
  justify-content: space-between;
}

.create-select {
  min-width: 120px;
}